@font-face{
    font-family : NanumSquare;
    src : url(fonts/NanumPenScript-Regular.ttf) format('truetype');
    font-style : normal;
    font-weight : normal;

}
header h1{
    color : rgb(22, 189, 255)!important;
    text-decoration: none;
    font-size : 3rem;
}
/* 링크밑줄 */
a{
    text-decoration: none !important;
}
body{
    background-color: rgb(224, 245, 253);
    background-position: sticky;
    font-family: "NanumSquare", "MalgunGothic", "Verdana";  
    
    font-weight : bold;
}


#main{
    background-image: url('b.jpg');
    background-position-x:center;
    background-size: 120% 100%; 
    background-repeat: no-repeat;

    border-radius: 3rem;
}

input,select{
    border-radius: 1rem;
    background-color: rgba(255,255,255,0.3) !important;
    border :none;
    height : 2rem;
    text-align: center;
    outline: none;
 
}
.S,select{
    background-color: rgba(255,255,255,0.3) !important;
    border-radius: 1rem;
    border : 1px solid skyblue !important;
}
.btn{
    display : flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

button{
    border-radius: 1rem;
    border : 1px solid skyblue !important;
    width : 10rem;
    height : 2.1rem;
    
    background-color:rgba(255,255,255,0.3) !important;
    color : black;
    text-align : center;
}



/* hover */

button:hover{
    background-color: white !important;
}

input:hover{
    background-color: white !important;
}
select:hover{
    background-color: white !important;
}