*{ margin : 0;
    margin-top : 0.1rem;
    padding : 0;
    box-sizing : border-box;
    color : black;
    /* border : 1px solid gray; */
    
}

body{
    background-color: ivory;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}
body *{
    margin-bottom : 2rem;
}

header{margin : 0;}
header h1,a{margin : 0;}
/* header a {margin : 0;} */


#naber{
    height:100vh;
    display:flex;
    flex-direction: column; 
    align-items: center;  
}

#main{
    width : 40.887rem;
    background-color: rgb(188, 238, 245);
    
    display : flex;
    padding-left :5rem; padding-right : 5rem; 
    justify-content: center;
    flex-direction: column;
    height : 100vh;
    
    
}
h1{
    display: flex;
    justify-content: space-around;
}

#title{
    margin-top: 0;
}

header h1{
    color : skyblue!important;
    text-decoration: none;
    font-size : 3rem;
}
section{
    margin : 1rem;
    display :flex;
    flex-direction: column;
    
    
    
}
label{
    
    font-size : 1rem;
    font-size : 1.4rem;
    
    
    
} 
.logForm{
    margin:0;
    margin-top : 0.5rem;
}
input{
    height : 2rem;
    margin : 0;
    outline: none;
    border: none;
    
    width : 100%;
}
.loF{
    
    width: 100%;
    align-items: center;
    
}


/* 로긴버튼 */
.btn{
    display : flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}


button{
    margin:0;
    border : 0.3rem solid white;
    width : 10rem;
    height : 100%;
    
    background-color: white;
    color : black;
    text-align : center;
}

/* 회원가입버튼 */
#toSignup{
    color : black !important;
}

/* 비번,아뒤찾기 */
#notLogin{
    margin : 0;
    display : flex;
    align-items: center;
    justify-content: center;
}
#findInfo{
    margin : 1rem;
}


/* hover */


button:hover{
    background-color: rgb(105, 233, 238);
}

