/*폰트*/
@font-face{
    font-family : NanumSquare;
    src : url(fonts/NanumPenScript-Regular.ttf) format('truetype');
    font-style : normal;
    font-weight : normal;

}
*{  margin : 0;
    margin-top : 0.1rem;
    padding : 0;
    box-sizing : border-box;
    color : black;
    
    /* border : 1px gray solid; */
    
}

h1{
    display: flex;
    justify-content: space-around;
    font-size : 1.5rem;
}
header h1{
    color :rgb(105, 233, 238);
}
body{
    background-color: rgb(238, 238, 238);
    background-position: sticky;
    font-family: "NanumSquare", "MalgunGothic", "Verdana";  
    
    font-weight : bold;
}
/* a{
    color : rgb(107, 231, 138);
    text-decoration: none;
    font-size : 150%;
} */
/* 회원가입폼 */
#naber{
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;  
}
/* label  */
label{
    
    font-size : 1.4rem;
    
    
} 
section{
    margin : 0rem;
    display :flex;
    flex-direction: column;
    
    
}
#main{
    

    display : flex;
    padding-left :5rem; padding-right : 5rem; 
    justify-content: center;
    flex-direction: column;
    height : 100vh;
    
    

}
/* id */
#idForm{
    
    background-color: white;
    
    padding-left : 0.3rem;
    display : flex;
    
}
/* 네이Bㅓ , 회원가입 */
h1{
    font-weight: 2000;
    color :black; 
}


.signUpForm{
    display : flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
#username{
    flex : 2;
    border : none !important;
    
}

.step_url{
    flex:1;
}



#password{
    width : 100%;
}
#password-retype{
    width: 100%;
}
/* 에러메시지. */
.success-message, .failure-message, #successPW, .mismatch-message{
    font-size : 1.2rem;
}


/* 입력창 , 아이디, 비번확인 배경색은 위에 .S*/
input,select{
    border-radius: 1rem;
    background-color: none !important;
    border :none !important;
    height : 2rem;
    text-align: center;
    outline: none;
 
}
#password{
    border : 1px solid skyblue;
}
.S,select{
    background-color: rgba(255,255,255,0.3) !important;
    border-radius: 1rem;
    border : 1px solid skyblue !important;
}
#birthday input,#phoneCheck input{
    border : 1px solid skyblue !important;
}




/* 성별 */
#MorW{
    width : 5rem;
}


/* 생년월일 입력 */
input::placeholder{
    text-align: end;
}


#birthday select{
    width :9.2rem;
    
} 

#birthRow{
    width : 100%;
    
    display : flex;
    justify-content: center;
    align-items: center;
}

#bir_yy {
    flex : 1;
    width : 10rem;

}

#bir_mm {
    
    flex : 1;
}

#bir_dd {
    
    flex : 1;
}


select,option{
    
    text-align: right;
}

/* 휴대전화 placeholder 왼쪽정렬 */
#phoneCheck input::placeholder{
    text-align: center;
}

#phoneCheck input{
    width : 100%;
    text-align: center;
    margin-right : 1rem;
}
.btn{
    margin-top:-0.3rem;
}
/* 인증번호 */



/* 버튼 */
.btn{
    display : flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

button{
    border-radius: 1rem;
    border : 1px solid skyblue !important;
    width : 10rem;
    height : 2.1rem;
    
    background-color: white;
    color : black;
    text-align : center;
}



/* hover */

button:hover{
    background-color: rgb(105, 233, 238);
}


